.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  justify-content: left;
  text-align: left;
}

.card-title {
  font-size: 18px !important;
}

.card-description {
  font-size: 14px !important;
}

.card-subtitle {
  font-size: 12px !important;
}